/build/
*.user
bin/
obj/
*.suo
/src/_NCrunch_BuildIndicatron/*.cache
/var/Movie
/lib/
/src/BuildIndicatron.App/*.ncrunchproject
/src/BuildIndicatron.Console/*.ncrunchproject
/src/_NCrunch_BuildIndicatron/StoredText
src/.vs/
/src/BuildIndicatron.Server/logs
