<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="BuildIndicatron.Console.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <BuildIndicatron.Console.AppSettings>
            <setting name="FeetRedPin" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="FeetGreenPin" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="LsRedPin" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="LsGreenPin" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="LsBluePin" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="ButtonPin" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PassiveInterval" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="PassiveStartHour" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="PassiveStopHour" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>http://192.168.2.210:5000/</value>
            </setting>
            <setting name="StringReplaces" serializeAs="String">
                <value>zapzap:zap zap|dev :development|WP8:zapper windows phone|DEV -:|Build - :|Deploy - :|</value>
            </setting>
            <setting name="CoreProjects" serializeAs="String">
                <value>Build - Zapper WP8|Build - Zapper WP8 (Release)|Build - ZapZap WP8|Build - ZapZap WP8 (Release)</value>
            </setting>
            <setting name="JenkenServer" serializeAs="String">
                <value>http://fulliautomatix:8080/</value>
            </setting>
            <setting name="JenkenUsername" serializeAs="String">
                <value>Rolf</value>
            </setting>
            <setting name="JenkenPassword" serializeAs="String">
                <value>tFZRLdJe8QH2Wk7f6yOH3Q==</value>
            </setting>
        </BuildIndicatron.Console.AppSettings>
    </userSettings>
</configuration>
