<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\BuildIndicatron.Console\packages.config" />
  <repository path="..\src\BuildIndicatron.Core\packages.config" />
  <repository path="..\src\BuildIndicatron.Server.Tests\packages.config" />
  <repository path="..\src\BuildIndicatron.Server\packages.config" />
  <repository path="..\src\BuildIndicatron.Tests\packages.config" />
</repositories>